/*Navbar */

.navbar-nav .nav-link:hover {
  color: white;
  background-color: rgba(14, 14, 14, 0.534);
}
section {
  background-image: url("../../image/pngtree-an-old-coffee-shop-with-very-dark-walls-picture-image_2652909.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.dropdown-header {
font-weight: 800;
font-size: 0.90rem;
color: white;
background-color: rgb(81, 7, 7);
padding: 10px 15px;
margin: 0;
border: none; 
border-radius: 0; 
}


.vertical-line {
border-left: 1px solid rgb(60, 56, 56); 
height: 35x; 
margin-top: 10px;
margin-left: 30px;
margin-right: 10px; 
}

.bottom-notif{
background-color: rgba(128, 128, 128, 0.059);
color: rgb(44, 60, 123);
}

.container-coffee {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.789);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
    justify-content: center;;
    margin-top: 30px;
    max-width: 70%;
    height: auto;
  }

  .container-nonCoffee{
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.789);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
    justify-content: center;;
    margin-top: 30px;
    max-width: 70%;
    height: auto;
  }

  .card1 {
    width: 200px;
    text-align: center;
    background-color: #1514149f;
    color: white;
    box-shadow: 0 4px 8px rgba(12, 12, 12, 0.475);
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
  }
  .card1:hover{
    background-color: #323437;
  }

  .img-card-menu {
    max-width: 100%;
    max-height: 50%;
    object-fit: cover;
    object-position: center;
  }

  .card-content {
    padding: 10px;
  }

    .beli {
    width: 45%;
    padding: 8px;
    margin-top: 10px;
    background-color: #7f1d1d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .beli:hover {
    background-color: #0056b3;
  }

  .detail {
    width: 45%;
    padding: 8px;
    margin-top: 10px;
    background-color: #2c352b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .detail:hover {
    background-color: #1d5818;
  }






* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  }
  
  ul {
    list-style: none;
    margin-bottom: 0px;
  }
  

  .cart_section {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    width: 100%;
    
    padding-bottom: 111px;
  }
  
  h1 {
    font-family: cursive;
    color: white;
    text-align: center;
  }
  
  .cart_items {
    margin-top: 8px;
  }
  
  .cart_list {
    
    box-shadow: 0px 1px 5px rgb(112, 26, 26);
    background-color: #ededede0;
    color: black;
  }
  .cart_list:hover {
   
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    
  }
  .cart_item {
    width: 100%;
    padding: 15px;
    padding-right: 46px;
  }
  
  .cart_item_image {
    width: 133px;
    height: 133px;
    float: left;
  }
  
  .cart_item_image img {
    max-width: 100%;
  }
  
  .cart_item_info {
    width: calc(100% - 133px);
    float: left;
    padding-top: 18px;
  }
  
  .cart_item_name {
    margin-left: 7.53%;
  }
  
  .cart_item_title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .cart_item_text {
    font-size: 18px;
    margin-top: 35px;
  }
  
  .cart_item_text span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 11px;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  
  .cart_item_price,
  .cart_item_total {
    text-align: right;
  }
  
  .order_total {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right: 46px;
    padding-left: 15px;
    background-color: #fff;
  }
  
  .order_total_title {
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 60px;
  }
  
  .order_total_amount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px;
  }
  
  .cart_buttons {
    margin-top: 60px;
    text-align: right;
  }
  
  .cart_button_clear {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px;
  }
  
  .cart_button_clear:hover {
    border-color: #0e8ce4;
    color: #0e8ce4;
  }
  
  .cart_button_checkout {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top;
  }
  