h1{
    font-family:cursive;
}

#content-about {
    background-color: black;
    opacity: 0.8;
    height: 420px;
    width: 950px;
    margin-top: 30px;
    border-radius: 5px;
}

#text-about {
    margin-top: 45px;
}

#avinity-capture {
    margin-top: 30px;
    width: 240px;
    height: 360px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}