/*Navbar */

.navbar-nav .nav-link:hover {
  color: white;
  background-color: rgba(14, 14, 14, 0.534);
}
section {
  background-image: url("../../image/pngtree-an-old-coffee-shop-with-very-dark-walls-picture-image_2652909.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.dropdown-header {
font-weight: 800;
font-size: 0.90rem;
color: white;
background-color: rgb(81, 7, 7);
padding: 10px 15px;
margin: 0;
border: none; 
border-radius: 0; 
}


.vertical-line {
border-left: 1px solid rgb(60, 56, 56); 
height: 35x; 
margin-top: 10px;
margin-left: 30px;
margin-right: 10px; 
}

.bottom-notif{
background-color: rgba(128, 128, 128, 0.059);
color: rgb(44, 60, 123);
}

.container-coffee {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.789);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
    justify-content: center;;
    margin-top: 30px;
    max-width: 70%;
    height: auto;
  }

  .container-nonCoffee{
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.789);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
    justify-content: center;;
    margin-top: 30px;
    max-width: 70%;
    height: auto;
  }

  .card1 {
    width: 200px;
    text-align: center;
    background-color: #1514149f;
    color: white;
    box-shadow: 0 4px 8px rgba(12, 12, 12, 0.475);
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
  }
  .card1:hover{
    background-color: #323437;
  }

  .img-card-menu {
    max-width: 100%;
    max-height: 50%;
    object-fit: cover;
    object-position: center;
  }

  .card-content {
    padding: 10px;
  }

    .beli {
    width: 45%;
    padding: 8px;
    margin-top: 10px;
    background-color: #7f1d1d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .beli:hover {
    background-color: #0056b3;
  }

  .detail {
    width: 45%;
    padding: 8px;
    margin-top: 10px;
    background-color: #2c352b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .detail:hover {
    background-color: #1d5818;
  }






/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper-container {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  background-color: #fcfcfc;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fcfcfc;
  font-size: 24px;
}

.swiper-slide > .swiper-slide-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent no-repeat 50% 50% / cover;
}

.swiper-slide .slide-1 {
    background-image: url('../image/Swiper-Carousel1.png');
    transform-origin: 50% 50%;
}

.swiper-slide .slide-2 {
    background-image: url('../image/Swiper-Carousel2.png');
    transform-origin: 50% 50%;
}

.swiper-slide .slide-3 {
    background-image: url('../image/Swiper-Carousel3.png');
    transform-origin: 50% 50%;
}

.swiper-scale-effect .swiper-slide-cover {
  transition-timing-function: linear;
  transition-duration: 20s;
  transform: scale(1);
}

.swiper-scale-effect .swiper-slide.swiper-slide-active .swiper-slide-cover {
  transform: scale(1.3);
}

:root {
  --swiper-pagination-bottom: 40px;
  --swiper-theme-color: rgba(252, 252, 252, 0.85) !important;
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fcfcfc;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #262626;
}
.swiper-cube .swiper-cube-shadow:before {
  background: #262626;
}
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 10px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 10px)
  ) !important;
  box-shadow: inset 1px 1px 1px rgba(38, 38, 38, 0.85);
  background: var(
    --swiper-pagination-bullet-inactive-color,
    rgba(252, 252, 252, 0.663)
  ) !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.55) !important;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}
.swiper-pagination-bullet-active {
  box-shadow: inset 1px 1px 1px rgba(38, 38, 38, 0.85);
  background: var(
    --swiper-pagination-bullet-active-color,
    rgba(252, 252, 252, 0.664)
  ) !important;
  opacity: var(--swiper-pagination-bullet-active-opacity, 0.85) !important;
  --swiper-pagination-bullet-horizontal-gap: 10px;
}
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  opacity: 0.55;
  --swiper-navigation-color: rgba(252, 252, 252, 0.462);
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: transparent;
  opacity: 0.85;
  --swiper-navigation-color: #fcfcfc;
}


 
.navbar-nav .nav-link:hover {
    color: white;
    background-color: rgba(14, 14, 14, 0.534);
  }
  section {
    background-image: url("../image/pngtree-an-old-coffee-shop-with-very-dark-walls-picture-image_2652909.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 0;
  }


/* Tambahkan aturan ini untuk mengatur tinggi dari .column agar sesuai dengan tinggi container */

  .quote {
    background-color: rgba(14, 14, 14, 0.395);
    border-radius: 10px;
    padding: 10px;
  }
  .image-container {
    width: 100%;
    float: left;
  }

  .image-container img {
    width: 100%;
    height: 480px; 
    object-fit: cover;
    transition: opacity 0.5s, transform 0.5s ease-in-out;
  transform: translateY(50%);
  opacity: 0;

  }

  .image-container img.loaded {
  opacity: 1;
  transform: translateY(0);
}

  .column {
    width:auto;
  margin: 0;
  padding: 0;
}
.column:last-child {
  padding-bottom: 60px;
}
.column::after {
  content: '';
  clear: both;
  display: block;
}
.column div {
max-width: 100%;
max-height: 100%;
margin: 0;
padding: 0;
transition: transform 0.5s ease; /* Tambahkan transisi */
}


.column div:first-child {
  margin-left: 0;
}
.column div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #444;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

figure {
  max-width: 100%;
  height:  100%;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
figure:hover+span {
  bottom: -36px;
  opacity: 1;
}

.hover01 {
display: flex; /* Mengubah display menjadi flex */
flex-wrap: wrap;
max-width: 100vw;  /* Mengatur lebar konten induk menjadi 100% */
align-items: stretch;
}
.hover01 figure img {
width: 100%; /* Menyesuaikan lebar gambar */
height: 250px; 
object-fit: cover;
transition: opacity 0.5s, transform 0.5s ease-in-out;
transform: translateY(50%);
opacity: 0;
}
.hover01 .column {
width: 100%; /* Menyesuaikan lebar dengan parent */
}

.hover01 figure:hover img {
transform: scale(1.3);
}

.hover01 img.loaded {
opacity: 1;
transform: translateY(0);
}
