.mx-2 {
    text-align: left;
}
  
#contactForm button {
    margin-left: 0;
}
  
h1 {
    font-family: cursive;
}
  
@media (max-width: 768px) {
    .container-kemeja {
    max-width: 100%;
}
  
.container-input {
    max-width: 100%;
    }
}
  
.container-input {
    background-color: rgba(120, 116, 116, 0.374);
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 50%;
    height: 450px;
    border-radius: 20px;
}  

#submitBtn {
    background-color: rgb(129, 10, 10);
    border: none;

    &:hover {
        background-color: rgb(86, 5, 5);
    }  
}
